.organizerList {
  list-style: none;
  padding-left: 0px;
  margin: 0 auto;
}

.organizerList li {
  display: inline-block;
  width: 20%;
}

.organizerList li a {
  text-decoration: none;
  margin: 0 auto;
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.organizerList li a:hover {
  color: orange;
}

.organizerList li a:hover img {
  border-color: orange;
}

.organizerList img {
  height: 100px;
  border-radius: 50px;
  border: 3px solid gray;
  margin: 0 auto;
}

.organizerList li a p {
  text-align: center;
}

.organizerName {
  margin-top: 7px;
  margin-bottom: -2px;
  font-size: 16px;
}

.organizerOrganization {
  font-size: 12px;
  color: gray;
}

.eventItem {
  list-style: none;
  background-color: #ececec;
  padding: 10px;
  margin-bottom: 4px;
  border-bottom: 1px solid #bbb;
}

.eventItem a {
  color: black;
}

.eventItem:hover {
  -webkit-box-shadow: 0px 0px 3px #bbb;
  -moz-box-shadow: 0px 0px 3px #bbb;
  box-shadow: 0px 0px 3px #bbb;
}
