@font-face {
    font-family: 'Lato';
    src: url('https://fonts.googleapis.com/css?family=Lato:100,300,400,600,700');
}

.organizerList {
  list-style: none;
  padding-left: 0px;
  margin: 0 auto;
}

.organizerList li {
  display: inline-block;
  width: 20%;
}

.organizerList li a {
  text-decoration: none;
  margin: 0 auto;
  color: #888;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.organizerList li a:hover {
  color: orange;
}

.organizerList li a:hover img {
  border-color: orange;
}

.organizerList img {
  height: 115px;
  border-radius: 50%;
  border: 2px solid #fff;
  margin: 0 auto;
  display: block;
}

.organizerList li a p {
  text-align: center;
  margin-bottom: 0;
}

.organizerName {
  margin-top: 12px;
  font-family: 'Lato', Helvetica, Arial, sans-serif;
  font-size: 20px;
  font-weight: 600;
  color: #444;
}

.organizerOrganization {
  font-family: 'Lato', Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 300;
  color: #aaa;
  margin-top: 4px;
}

.eventItem {
  list-style: none;
  background-color: #ececec;
  padding: 10px;
  margin-bottom: 4px;
  border-bottom: 1px solid #bbb;
}

.eventItem a {
  color: black;
}

.eventItem:hover {
  -webkit-box-shadow: 0px 0px 3px #bbb;
  -moz-box-shadow: 0px 0px 3px #bbb;
  box-shadow: 0px 0px 3px #bbb;
}

@media screen and (max-width: 600px) {
  .organizerList li {
    display: inline-block;
    width: 50%;
  }
}
