.eventList {
  list-style: none;
  padding-left: 0;
}

.eventSubList {
  list-style: none;
  padding: 0;
}

.eventItem {
  list-style: none;
  background-color: #F5F5F5;
  border-bottom: 1px solid white;
}

.eventItem a {
  color: black;
}

.eventItem:hover {
  /*-webkit-box-shadow: 0px 0px 3px orange;
  -moz-box-shadow: 0px 0px 3px orange;
  box-shadow: 0px 0px 3px orange;*/
  background-color: #CFD8DC;
}

.eventInnerWraper {
  display: flex;
}

.eventInnerWraper > div {
  height: 100px;
}

/* Event date */
.eventDate {
  background-color: orange;
  color: white;
  flex: 0 0 100px;
  font-size: 2em;
}

.eventDate > div {
  padding-top: 5px;
  text-align: center;
}

.eventMonth {
  font-size: 14px;
}

.eventDay {
  font-weight: bold;
  font-size: 40px;
}


.eventWeekday {
  font-size: 14px;
}

/* Event details */
.eventDetails {
  flex-grow: 100;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.eventDetails > div {
  padding-left: 10px;
}

.eventTitle {
  padding-top: 8px;
  font-weight: 300;
  font-size: 16px;
  line-height: 18px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.eventTitle > i {
  padding-right: 10px;
  opacity: 0.0;
}

.eventItem:hover .eventTitle > i {
  opacity: 1.0;
}

.eventInfo {
  /*background-color: black;*/
  color: gray;
  height: 30px;
  line-height: 30px;
}

.eventInfo > span > i {
  margin-right: 3px;
}

.eventLocation > i {
  margin-right: 6px;
}

.eventLocation {
  margin-left: 15px;
}

.eventSubListContainer {
  padding: 0px 40px;
  margin-bottom: 40px;
}

.eventSubListTitle {
  font-size: 1.2em;
  padding: 10px 0;
  text-align: center;
  background-color: #607d8b;
  color: white;
  width: 100px;
  margin-bottom: 10px;
}

/* No event */
.noEventConatiner {
  padding-top: 40px;
}

.noEventText {
  font-size: 1.5em;
  font-weight: 300;
}

.subscribeMailingList {
  margin-top: 20px;
}

.subscribeMailingList input:first-child {
  outline-style: none;
  height: 40px;
  margin-right: 20px;
  width: 40%;
  border: 1px solid lightgray;
}

.subscribeButton {
  background-color: orange;
  outline-style: none;
  border: none;
  border-radius: 2px;
  height: 40px;
  padding: 0 40px;
  display: inline-block;
}

@media screen and (max-width: 600px) {
  .eventList {
    padding-left: 0;
  }

  .eventSubListContainer {
    padding: 0px 0px;
    margin-bottom: 40px;
  }

  .noEventConatiner {
    min-height: 140px;
  }

  .eventTitle {
    padding-top: 8px;
    font-weight: 300;
    /*font-size: 14px;*/
    /*line-height: 14px;*/
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .eventTitle > i {
    padding-right: 10px;
    opacity: 0.0;
  }

  .eventLocation {
    background-color: black;
    color: white;
    height: 20px;
    line-height: 20px;
    font-size: 12px;
  }

  .eventDate {
    background-color: orange;
    color: white;
    width: 80px;
    font-size: 2em;
  }

  .eventDay {
    font-size: 20px;
  }
}

